* {
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body {
    margin: 5rem 1rem;
    background-color: hsl(27, 66%, 92%);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    border-radius: .8rem;
    margin-bottom: 1rem;
    color: hsl(33, 100%, 98%); 
    background-color: hsl(10, 79%, 65%);
}

header #titulo {
    display: flex;
    flex-direction: column;
}

header #titulo small {
    font-size: .95rem;
    display: inline;
    margin-bottom: .8rem;
}

header #titulo h2, small {
    line-height: 1rem;
    margin: 0;
}

main {
    border-radius: .8rem;
    padding: .8rem 1rem 1rem 1rem;
    background-color: hsl(33, 100%, 98%);
}